<h1>Type in the Regexp you want to match within a repo</h1>

<form action="/result/" method="POST">
    Type Regexp to Match:
    <input type="text" name="pattern">
    <select name="repo">
    {{ range $_, $file := . }} 
        <option value="{{ $file.Name }}">{{ $file.Name }}</option>
    {{ end }}
        <option  value="">All Repos</option>
    </select>
    <input type="submit" value="Search File" name="submit">
</form>

<h1>Specify the git repo that you want to search through!</h1>

<form action="/repoindex/" method="POST">
    Type in Git Repo URL:
    <input type="text" name="repoURL">
    <input type="submit" value="Upload Git Repo" name="submit">
</form>